{% extends "baseAdmin.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}

    <title>Kranioz | Console</title>

{% endblock %}



{% block content %}





    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Device ID
            <small>#007612</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Devices</a></li>
            <li class="active">#007612</li>
        </ol>
    </section>

    <!-- MAP -->

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

    <div class="container">
    <div class="row" style="height: 333px;">
    <div id="map"></div>
    <script>

        // This example creates a 2-pixel-wide red polyline showing the path of William
        // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
        // Brisbane, Australia.
        var marker;

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: {{ last_obj }}
            });

            var image = '{% static 'lte/img/maker-1.png' %}';
            var beachMarker = new google.maps.Marker({
                position:{},
                map: map,
                icon: image
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: {{ last_obj }}
            });
            marker.addListener('click', toggleBounce);
        }

        function toggleBounce() {
            if (marker.getAnimation() !== null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9a2IA4bCX2nRqDwW4ttHqy7THyjjxFCk&callback=initMap">
    </script>


    <!-- End of Map -->

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i>Device Info
                    <small class="pull-right"></small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->

        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date & Time</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Battery</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="refresh">



                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->



        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">



                <button type="button" id="refreshbutton" style="visibility: hidden;display: none"></button>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}



{% block extrafooter %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(function () {
    setInterval(function(){
    $("#refreshbutton").click();
},1000);
})
</script>

    <script>
$(document).ready(function() {

    $("#refreshbutton").click(function () {


        $.getJSON("/api/?format=json", function (result) {
            var content = "";

            $("#dragon").css("background-color","red")    ;
            for (results in result) {

                var data = result[results] ;
                if(data.status==1){
                    var button='<span class="label label-success">In-range</span>';

                }
                else {
                    var button='<span class="label label-danger">Out of-range</span>';

                }
                content += '<tr id="dragon">';
                content += '<td>' + data.time + '</td>';
                content += '<td>' + data.lat + '</td>';
                content += '<td>' + data.lng + '</td>';
                content += '<td>' + data.battery + '</td>';
                content += '<td>' + button + '</td>';
                content += '</tr>';

            }

            $("#refresh").html(content);

        });

    });
});
</script>

{% endblock %}
